.text-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
    padding: 30px;
    font-size: 10px;

}

.texto-inicio p {
  color: #333; 
  font-size: 2em;  
  font-weight: 400;  
  line-height: 1.6;  
  margin-bottom: 20px;  
}



hr.estilo-hr {
  border: 1px solid #ddd; /* Línea separadora con color gris claro */
  margin: 40px 0; /* Margen superior e inferior para separación */
}

  
  @keyframes gradient {
    0% {
      background-position: 100% 0%;
    }
    100% {
      background-position: -100% 0%;
    }
  }
  

.clases-entrenamiento {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}


.esp-filas {
    margin-bottom: 30px;
}

.img-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.leyendas {
    color: white;
}

.inscripcion {
    text-align: center;
    margin-top: 20px;
}

.btn-round {
    border-radius: 20px;
}

.gym-imagen {
    position: relative;
    height: 500px;
    overflow: hidden;
}

.gym-imagen img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.gym-nombre {
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;

    font-size: 5em;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(190, 6, 6, 0.5);
}

.footer {
    background-color: black;
    color: white;
    padding: 30px 0;
}

.footer h5 {
    color: #ffcc00;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer ul li {
    margin-bottom: 5px;
}

.footer ul li a {
    color: #ffcc00;
    text-decoration: none;
}

.footer ul li a:hover {
    text-decoration: underline;
}

.text.tm {
    font-size: 10vw;
    max-width: 90%;
}

.texto-inicio h2 {
    font-size: 3em;
    text-align: center;
}

@media (max-width: 768px) {
    .texto-inicio h2 {
        font-size: 2.5em;
    }
}

@media (max-width: 576px) {
    .texto-inicio h2 {
        font-size: 1em;
    }
}


  

main {
    padding: 25px;
  }
  
  h2 {
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin: 20px 0;

    padding: 20px;
    border-radius: 15px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(52, 75, 177, 0.877);
  }

 


  

  .img-contenedor img {
   
    width: 85%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  
  .btn btn-success {
    font-size: 18px;
    padding: 15px 30px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn btn-success:hover {
    background-color: #218838;
  }
  

  

  /*y section*/
  
 

  .row.esp-filas {

    border-radius: 10px;
    padding: 20px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
    margin-bottom: 20px; 
    text-align: justify;
}

/* Estilo para el texto en la fila */
.clases-entrenamiento p {
    color: #000000; 
    margin-bottom: 0; 
}