

.nosotros-section {
    padding: 80px 0; 
    text-align: justify;
    
}


.about-us {
    padding: 30px;
    background-color: #fff; 
    border-radius: 10px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
}

.about-us h2 {
    color: #333; 
}


.about-image img {
    width: 100%; 
    border-radius: 10px; 
}


.our-mission {
    margin-top: 30px; 
}


.our-services {
    margin-top: 30px; 
}

.our-services h2 {
    color: #333; 
}

.our-services ul {
    list-style-type: none; 
    padding: 0;
}

.our-services li {
    margin-bottom: 10px; 
}


.our-commitment {
    margin-top: 30px;
}

.our-commitment h2 {
    color: #333; 
}

.our-commitment p {
    line-height: 1.6; 
}


@media (max-width: 767px) {
    .about-us {
        padding: 20px;
    }

    .our-services, .our-commitment {
        margin-top: 20px;
    }
}




.btn-custom {
    display: block; 
    margin: 0 auto; 
    background-color: #52ac77; 
    border-color: #d43f3a; 
    font-weight: bold; 
    text-transform: uppercase; 
}

.btn-custom:hover {
    background-color: #d43f3a; 
    border-color: #ac2925; 
    color: #fff; 
}













/* Estilos para la sección de pie de página ********************************************/
.footer {
    background-color: black;
    color: white;
    padding: 30px 0;
    text-align: center; 
    margin: 0 auto; 
}


.footer h5 {
    color: #ffcc00;
}


.footer ul {
    list-style: none;
    padding-left: 0;
}


.footer ul li {
    margin-bottom: 5px;
}


.footer ul li a {
    color: #ffcc00;
    text-decoration: none;
}


.footer ul li a:hover {
    text-decoration: underline;
}


/*cards*/
.custom-card {
    border: 2px solid #3498db; /* Cambia el color del borde según tus preferencias */
    border-radius: 15px; /* Ajusta el radio de las esquinas redondeadas */
    overflow: hidden; /* Asegura que las esquinas redondeadas se apliquen correctamente */
    transition: box-shadow 0.3s ease; /* Efecto de transición en la sombra al pasar el ratón */
    
}

.custom-card:hover {
    box-shadow: 0 0 20px rgba(52, 152, 219, 0.6); /* Cambia la sombra al pasar el ratón */
}

.btn-custom {
    background-color: #3498db; /* Cambia el color del botón según tus preferencias */
    color: #fff; /* Cambia el color del texto del botón según tus preferencias */
    border: 2px solid #3498db; /* Igual que el color del botón para un aspecto uniforme */
}

.btn-custom:hover {
    background-color: #2980b9; /* Cambia el color del botón al pasar el ratón */
    border: 2px solid #2980b9; /* Cambia el color del borde al pasar el ratón */
}

/* Asegurar que todas las imágenes tengan el mismo tamaño */
.card-img-top {
    height: 350px; /* Ajusta la altura según tus preferencias */
    object-fit: cover;
}

/* Justificar el texto dentro de cada card */
.card-body {
    text-align: justify;
    
}

/* Alineación específica para los títulos */
.card-title {
    text-align: center;
    
}
